<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Include main launch file -->
  <param name="type" value="1"/>

  <node name="webcam_publisher" pkg="uav_mission_planner" type="webcam_publisher.py"/>
  <node name="qr_code_detector" pkg="uav_mission_planner" type="qr_code_detector.py" output="screen"/>
  <node name="uav_mission_planner" pkg="uav_mission_planner" type="mission_planner.py" output="screen">
    <param name="type" value="$(arg type)"/>
  </node>
</launch>